<p>popupcomponent works!</p>
<h2>Select an Option</h2>

<form (ngSubmit)="onSave()" >
  <div *ngFor="let option of selectOptions">
    <label>
      <input type="checkbox" [name]="option.name"  [(ngModel)]="option.selected" (change)="togglecheckbox(option.id,$event)"> {{ option.name }}
    </label>

    <div *ngIf="option.sub_module && option.sub_module.length > 0">
      <div *ngFor="let subOption of option.sub_module" [ngClass]="{'child-option': true}">
        <label>
          <input type="checkbox" [(ngModel)]="subOption.selected" (change)="checkboxchange(option.id,subOption.selected,$event)" [name]="subOption.name" > {{ subOption.name }}
        </label>
      </div>
    </div>
  </div>
  <button mat-button type="submit">Save</button>
</form>
<button mat-button [mat-dialog-close]="'close'">Close</button>
