<app-side-nav></app-side-nav>
<div class="navleftspace">
  <!-- your-component.component.html -->

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                                 <!-- name -->
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name">
      <div *ngIf="form.get('name').hasError('required') && form.get('name').touched">
        Name is required.
      </div>
    </div>

                                              <!-- email -->
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="form.get('email').hasError('required') && form.get('email').touched">
        Email is required.
      </div>
      <div *ngIf="form.get('email').hasError('email') && form.get('email').touched">
        Please enter a valid email address.
      </div>
    </div>
                                             <!-- mobile number -->
    <div>
        <label for="mobile">Mobile</label>
        <input type="tel" id="mobile" formControlName="mobile" maxlength="10">
        <div *ngIf="form.get('mobile').hasError('required') && form.get('mobile').touched">
          Mobile is required.
        </div>
        <div *ngIf="form.get('mobile').hasError('pattern') && form.get('mobile').touched">
          Please enter a valid 10-digit mobile number.
        </div>
    </div>


                                             <!-- level -->
    <div>
      <label for="level">Level</label>
      <select id="level" formControlName="level"  (change)="onLevelChange()">
        <option value="" disabled selected> level</option>
        <option value="state">State Level</option>
        <option value="city">City Level</option>
        <option value="camp">Camp Level</option>
      </select>
      <div *ngIf="form.get('level').hasError('required') && form.get('level').touched">
        Level is required.
      </div>
    </div>
    <div *ngIf="form.get('level').value === 'state'">
      <label for="state">State</label>
      <select id="state" formControlName="state">
        <option value="" disabled selected>Select your state</option>
        <option *ngFor="let state of indianStates" [value]="state">{{ state }}</option>
      </select>
    </div>
    
    <button type="submit" >Submit</button>
  </form>
</div>

